@tailwind base;
@tailwind components;
@tailwind utilities;

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(122, 151, 233, 0.15);
}

.styled-table thead tr {
  background-color: #bfc5e6;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #323d3b;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #112924;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mini-container {
  display: grid;
  grid-template-rows: 40px 1fr;
}
